# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
env/

# Ignore Django database file
db.sqlite3

# Ignore secrets & configuration files
*.env
.env

# Ignore static & media files
# staticfiles/
staticfiles/
!static/

# Ignore VS Code and PyCharm settings
.vscode/
.idea/

# Ignore media files (if applicable)
media/

# Keep templates
!templates/