# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
env/

# Ignore Django database file
db.sqlite3

# Ignore secrets & configuration files
*.env
.env

# Ignore static & media files
staticfiles/
media/

# Ignore VS Code and PyCharm settings
.vscode/
.idea/
