<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="demo.php" method="GET">
        <!-- <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br> -->
       
        <input type="number" id="oid" name="oid"><br>
        <input type="submit" value="Submit">
    </form>
    
</body>
<script>
    var a=123456789
    
    window.location.href = "demo.php?value=" + a;
</script>

</html>