<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <title> Responsive Login and Signup Form </title>

        <!-- CSS -->
        <link rel="stylesheet" href="css/login.css">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
                        
    </head>
    <body>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Login</header>
                    <form action="#">
                        <div class="field input-field">
                            <input type="email" placeholder="Facebook Id" class="input">
                        </div>

                        <div class="field input-field">
                            <input type="password" placeholder="Password" class="password">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>

                        <div class="form-link">
                            <a href="#" class="forgot-pass">Forgot password?</a>
                        </div>

                        <div class="field button-field">
                            <button>Login</button>
                        </div>
                    </form>

                    <div class="form-link">
                        <span>Don't have an account? <a href="#" class="link signup-link">Signup</a></span>
                    </div>
                </div>

                <div class="line"></div>

                <div class="media-options">
                    <a href="#" class="field facebook" id="mail">
                        
                        <i style="font-size:24px" class="fa">&#xf0e0;</i>
                        <span>Login with Email</span>
                    </a>
                </div>

                <div class="media-options">
                    <a href="#" class="field phone_no" id="phone_no">
                        <img src="#" alt="" class="google-img" id="phone_no">
                        <i style="font-size:24px" class="fa">&#xf095;</i>
                        <span>Login with Phone number</span>
                    </a>
                </div>

            </div>

            <!-- Signup Form -->

            <div class="form signup">
                <div class="form-content">
                    <header>Signup</header>
                    <form action="#">
                        <div class="field input-field">
                            <input type="email" placeholder="Email" class="input">
                        </div>

                        <div class="field input-field">
                            <input type="password" placeholder="Create password" class="password">
                        </div>

                        <div class="field input-field">
                            <input type="password" placeholder="Confirm password" class="password">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>

                        <div class="field button-field">
                            <button>Signup</button>
                        </div>
                    </form>

                    <div class="form-link">
                        <span>Already have an account? <a href="#" class="link login-link">Login</a></span>
                    </div>
                </div>

                <div class="line"></div>

                <div class="media-options">
                    <a href="#" class="field facebook" id="fb">
                        <i class='bx bxl-facebook facebook-icon'></i>
                        <span>Login with Facebook</span>
                    </a>
                </div>

                <div class="media-options">
                    <a href="#" class="field phone_no" id="phone_no">
                        <i style="font-size:24px" class="fa">&#xf095;</i>
                        <span> Login with Phone number</span>
                    </a>
                </div>
                <div class="form-link">
                    <span>Not a Customer? <a href="#" class="link signup-link">Login</a></span>
                </div>


            </div>
        </section>

        <!-- JavaScript -->
        <script>
            document.getElementById("mail").addEventListener("click", function() {
    // Redirect user to the next page
            window.location.href = "login.html"; // Replace "next_page.html" with your actual next page URL
            });

            document.getElementById("phone_no").addEventListener("click", function() {
    // Redirect user to the next page
            window.location.href = "login3.html"; // Replace "next_page.html" with your actual next page URL
            });
        </script>
    </body>
</html>