{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <title>Login </title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/login.css'%}" />

    <!-- Boxicons CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <style>
      .error {
        color: red;
        font-size: 14px;
      }
    </style>
  </head>

  <body>
    <section class="container forms">
      <div class="form login">
        <div class="form-content">
          <header>Login</header>
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="field input-field" id="mail">
              <input
                type="text"
                id="username"
                name="username"
                placeholder="Username"
                required
              /><br />
              <span id="emailError" class="error"></span>
            </div>

            <div class="field input-field">
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                required
              /><br />
              <i class="bx bx-hide eye-icon"></i>
              <span id="passwordError" class="error"></span>
            </div>

            <div class="field button-field">
              <button type="submit">Login</button>
              
            </div>
          </form>

          <div class="form-link">
            <span>Don't have an account?
              <a href="{% url 'signup'%}" class="link signup-link" id="signup"
                >Signup</a
              ></span>
          </div>
        </div>

        
    </section>
    <script>
      {% for message in messages %}
          // Check if the message is a success message
          {% if message.tags == 'error' %}
              // Display a popup message
              alert("{{ message }}");
          {% endif %}
        {% endfor %}

    </script>

    <!-- JavaScript -->
    <script src="{% static 'js/login.js' %}"></script>
    
  </body>
</html>
